*{
    margin: 0;
    padding: 0;
    color: #555;
    box-sizing: border-box;
}
html body{
    font: normal 16px sans-serif;
}
main{
    background-image: url("images/main.jpg");
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-content: center;
}
main header{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    /* align-content: flex-start; */
    padding: 35px 100px 0;
    list-style-type: none;
    width: 100%;
    opacity: 0;
    animation: 1s shows forwards linear;

}
section button{
    padding: 8px 16px;
    border: none;
    background-color: cornflowerblue;
}
@keyframes shows{
    100%{
        opacity: 1;
    }
}
header nav{
    display: flex;
    flex-wrap:wrap;
    margin-right: -15px;
}
header li{
    padding: 8px 10px;
    
}
header a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
main section{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    text-align: center;
    margin-top: 100px;
    opacity: 0;
    animation: 1s slidein forwards linear; 
}
@keyframes slidein{
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
.destinations{
    margin-top: 40px;
    text-align: center;
}
hr{
    width: 35%;
    height: 1px;
    background-color: blue;
    margin: 10px auto;
}
.title{
    font-size: 28px;
    padding: 8px;
    margin-top: 40px;
}
.gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.gallery .mountain{
    padding: 20px;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-clip: content-box;
}
.small{
    flex-basis: 30%;
}
.big{
    flex: 1 1 60%;
}
@media screen and (max-width: 1024px){
    .mountain{
        flex-basis: 50%;
    }
}
@media screen and (max-width: 720px){
    .mountain, .packages li{
        flex: 100%;
    }
    .smsn{
        flex-basis: 100%;
        text-align: center;
    }
}
.mountain1{
    background-image: url("images/mountain1.jpg");
}
.mountain2{
    background-image: url("images/mountain2.jpg");
}
.mountain3{
    background-image: url("images/mountain3.jpg");
}
.mountain4{
    background-image: url("images/mountain4.jpg");
}
.packages{
    text-align: center;
    margin-top: 50px;
    background-color: lightslategrey;
}
.packages i{
    font-size: 40px;
    color: greenyellow;
}
.packages ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.packages li{
    padding: 100px;
    padding-top: 0;
    flex-basis:50%;
}

.testimonials, .info{
    margin: 50px auto;
    max-width: 60%;
    text-align: center;
}
.testimonials ul{
    list-style-type: none;
}
footer{
    background-color: grey;
    display: flex;
    margin-top: 50px;
    align-items: center;
}
footer p{
    padding: 20px;
}
footer *, .packages *{
    color: white;
}
footer .socialmedia{
    font-size: 28px;
    flex-basis: 100px;
    display: flex;
}
.md{
    flex: 1;
}